:root {
    --2: #eae6e0;
    --3: #232322;
    --4: #FEE006;
    --1: #f2f0ee;
    --5: #3DBFEF;
    --radius--small: .25rem;
    --radius--large: .75rem;
    --radius--medium: .5rem;
}
/* Geist */
@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-UltraBlack.ttf') format('truetype');
    font-weight: 950;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-UltraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GeistVF';
    src: url('/fonts/geist/variable-ttf/GeistVF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Inter */
@font-face {
    font-family: 'InterVF';
    src: url('/fonts/inter/InterVF.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Assignments */
body {
    font-family: 'GeistVF', 'Geist', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'InterVF', 'Inter', sans-serif;
}
p{
    font-family: 'GeistVF', 'Geist', sans-serif;
    line-height: 1.5em;
    page-break-after: auto;
}

h1 {
    font-size: 2em; /* or 200% */
}

h2 {
    font-size: 1.5em; /* or 150% */
}

h3 {
    font-size: 1.17em; /* or 117% */
}

h4 {
    font-size: 1em; /* or 100% */
}

h5 {
    font-size: 0.83em; /* or 83% */
}

h6 {
    font-size: 0.67em; /* or 67% */
}


.inter {
    font-family: 'InterVF', 'Inter', sans-serif;
}
.geist {
    font-family: 'GeistVF', 'Geist', sans-serif;
}

.md * {
    line-height: 1.6;
    font-weight: 500;
}

.md h1 {
    font-size: 2.986rem;

}

.md h2 {
    font-size: 2.488rem;
}
.md h3 {
    font-size:2.074rem;
}
.md h4 {
    font-size: 1.728rem;

}

.md h5 {
    font-size: 1.44rem;
}

.md h6 {
    font-size: 1.2rem;
}
.md p{
    font-size:1rem;
}
.md small{
    font-size: 0.833rem;
}

.md ol{
    list-style-type: decimal;
    margin-left: 1.5em;

}
.md ul > li{
    margin-bottom: 0.5em;
    list-style-type: square;
    list-style-position: inside;
}
.md li > ul > li{
    list-style-type: circle;
    list-style-position:inside;
    text-indent: 1em;
}
.md li > ul {
    margin-top: .4rem;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.022em;
}

.md h1, .md h2 {
    margin: 0 0 0.2em;
}

.md code {
    font-size: 0.9em;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    padding: 1em;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #24292e;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;

}
.md a {
    color: var(--5);
    text-decoration: none;
    background-color: transparent;
    font-weight: 500;
}