/* Geist */
@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-UltraBlack.ttf') format('truetype');
    font-weight: 950;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist/statics-ttf/Geist-UltraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GeistVF';
    src: url('/fonts/geist/variable-ttf/GeistVF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Inter */
@font-face {
    font-family: 'InterVF';
    src: url('/fonts/inter/InterVF.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/static/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Assignments */
body {
    font-family: 'GeistVF', 'Geist', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'InterVF', 'Inter', sans-serif;
}
p{
    font-family: 'GeistVF', 'Geist', sans-serif;
}

h1 {
    font-size: 2em; /* or 200% */
}

h2 {
    font-size: 1.5em; /* or 150% */
}

h3 {
    font-size: 1.17em; /* or 117% */
}

h4 {
    font-size: 1em; /* or 100% */
}

h5 {
    font-size: 0.83em; /* or 83% */
}

h6 {
    font-size: 0.67em; /* or 67% */
}


.inter {
    font-family: 'InterVF', 'Inter', sans-serif;
}
.geist {
    font-family: 'GeistVF', 'Geist', sans-serif;
}

.rmd * {
    line-height: 1.5em;
    font-weight: initial;
}

.rmd h1 {
    font-size: 4em;
    color: red;
}

.rmd h2 {
    font-size: 2em;
}
.rmd h3 {
    font-size: 1.5em;
}
.rmd h4 {
    font-size: 1.5em;

}

.rmd h5 {
    font-size: 1.17em;
}

.rmd h6 {
    font-size: 1em;
}


.rmd h3, .rmd h4, .rmd h5, .rmd h6{
    margin: 1em 0 .5em;
}

.rmd h1, .rmd h2 {
    margin: 0 0 .5em;
}