---
const { active, idx } = Astro.props;

const glob = await Astro.glob("/src/content/about/*.mdx");
const file = glob[idx];

if (!file) {
  throw new Error(`No file found at index ${idx}`);
}

const { Content } = file;
---

<div data-idx={idx} class=`post md ${!active && "hidden"}`>
  <Content class="md" />
</div>
<style>
  .post-active {
    display: block !important;
  }
</style>
