---
const { active, data } = Astro.props;
type data = {
  id: "Title.mdx";
  slug: "title";
  body: "\nBody\n";
  collection: "about";
  data: { title: "Title"; snippet: "Snippet"; menu_label: "Menu Label" };
  render: unknown; //[AsyncFunction: render];
}[];
---

<div>
  <!-- MENU -->
  <div class="flex flex-inline gap-2 h-fit mt-8">
    <ul class="">
      {
        data.map((d, idx) => (
          <li
            data-slug={d.slug}
            class={`about__menu__item ${
              active === idx ? "menu-active" : ""
            } text-gray-600
            hover:underline
            hover:cursor-pointer
            w-fit
            `}
          >
            {d.data.menu_label}
          </li>
        ))
      }
    </ul>
    <div class="border-r border-black"></div>
  </div>
</div>

<script define:vars={{ active, data }}>
  const sendDataToParent = (activeMenuItem) => {
    const detail = { activeMenuItem: data };
    const event = new CustomEvent("aboutmenu", { detail });
    window.dispatchEvent(event);
  };

  const menuItems = document.querySelectorAll(".about__menu__item");

  menuItems.forEach((item) => {
    let slug = item.getAttribute("data-slug");

    if (!slug) throw new Error(`No slug found on menu item ${item}`);

    item.addEventListener("click", () => {
      sendDataToParent(slug);
    });
  });
</script>
