---
import { TinaMarkdown } from "tinacms/dist/rich-text";
import Sectionhead from "src/components/sectionhead.astro";
import AboutLayout from "src/layouts/AboutLayout.astro";
//import { AboutMenu } from "src/components/about";
import { AboutContentData, type AboutData } from "src/content/about/AboutData";
import { AboutMenu, AboutContent } from "src/components/about";

// type AboutData = {
//   name: string;
//   selector: string;
//   format: string;
// };
---

<AboutLayout title="Helios | About">
  <div
    class="flex flex-inline mx-auto w-fit gap-8 mt-8 justify-start
    max-w-screen-sm
    min-w-screen-sm
    xl:max-w-screen-md
    xl:min-w-screen-md"
  >
    <AboutMenu data={AboutContentData} active={0} />
    <AboutContent />
    <!-- <TinaMarkdown content={props.data.body} /> -->
  </div>
</AboutLayout>
