---
import AboutLayout from "src/layouts/AboutLayout.astro";
import { AboutMenu, AboutContent } from "src/components/about";

import { getCollection } from "astro:content";
import Markdown from "react-markdown";

const aboutPosts = await getCollection("about");

// console.log(content);
---

<AboutLayout title="Helios | About">
  <div
    class="flex flex-inline mx-auto w-fit gap-8 mt-8 justify-start
    max-w-screen-sm
    min-w-screen-sm
    xl:max-w-screen-md
    xl:min-w-screen-md"
  >
    <AboutMenu data={aboutPosts} active={0} />
    {
      aboutPosts.map((d) => {
        return <AboutContent data={d} />;
      })
    }
    <!-- <AboutContent /> -->
  </div>
</AboutLayout>
