---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy & Terms | Helios Energy">
  <div class="bg-amber-400 py-8 shadow pl-16">
    <h1 class="text-3xl font-bold text-left mb-2">Legal</h1>
    <p class="mb-4 italic text-gray-700">Effective Date: December 1, 2023</p>
  </div>
  <hr class="w-full mb-8" />
  <div id="privacy" class="max-w-2xl mx-auto p-8 rounded shadow">
    <h1 class="text-3xl font-bold mb-6">Privacy Policy</h1>

    <p class="mb-4 italic">Effective Date: December 1, 2023</p>

    <p class="mb-4">
      Thank you for using Helios Energy! This Privacy Policy outlines how we
      collect, use, disclose, and protect your information when you use our
      services.
    </p>

    <p class="mb-4 font-bold">Information We Collect:</p>
    <ul class="list-disc pl-6">
      <li>
        <span class="font-bold">Personal Information:</span> When you sign up
        for Helios Energy, we may collect your name, email address, and other
        necessary information to provide you with our services.
      </li>
      <li>
        <span class="font-bold">Usage Information:</span> We collect information
        about your usage of Helios Energy, such as the pages you visit, the
        features you use, and the actions you take.
      </li>
      <li>
        <span class="font-bold">Device Information:</span> We may collect
        information about the device you use to access Helios Energy, including
        the device type, operating system, and browser type.
      </li>
    </ul>

    <p class="my-4">
      <span class="font-bold">How We Use Your Information:</span>
    </p>
    <p>
      We use the information we collect to provide, maintain, and improve Helios
      Energy. This includes personalizing your experience, sending you relevant
      information, and ensuring the security of our platform.
    </p>

    <p class="my-4 font-bold">Sharing Your Information:</p>
    <p>
      We do not sell, trade, or otherwise transfer your personal information to
      outside parties. We may share your information with trusted third parties
      who assist us in operating our platform, conducting our business, or
      servicing you.
    </p>

    <p class="my-4 font-bold">Security:</p>
    <p>
      We prioritize the security of your information and employ reasonable
      measures to protect it from unauthorized access, disclosure, alteration,
      and destruction.
    </p>

    <p class="my-4 font-bold">Your Choices:</p>
    <p>
      You have the right to access, correct, or delete your personal
      information. You can update your preferences and manage your information
      through your Helios Energy account settings.
    </p>
  </div>

  <div id="terms" class="relative -top-8"></div>
  <div class="max-w-2xl mx-auto mt-8 p-8 rounded shadow">
    <h1 class="text-3xl font-bold mb-6">Terms of Use</h1>

    <p class="mb-4 italic">
      By using Helios Energy, you agree to the following terms:
    </p>

    <p class="my-4 font-bold">Acceptance of Terms:</p>
    <p>
      You agree to comply with all applicable laws and regulations and to be
      bound by the terms outlined in this agreement.
    </p>

    <p class="my-4 font-bold">Account Responsibility:</p>
    <p>
      You are responsible for maintaining the confidentiality of your account
      information, including your password. Notify us immediately if you suspect
      unauthorized access to your account.
    </p>

    <p class="my-4 font-bold">Prohibited Activities:</p>
    <p>
      You agree not to engage in any illegal or unauthorized activities on
      Helios Energy. This includes but is not limited to violating intellectual
      property rights, distributing malware, and engaging in harmful behavior.
    </p>

    <p class="my-4 font-bold">Changes to the Service:</p>
    <p>
      Helios Energy reserves the right to modify or terminate the service at any
      time. We will provide notice of significant changes whenever possible.
    </p>

    <p class="my-4 font-bold">Termination:</p>
    <p>
      We reserve the right to terminate or suspend your account at our
      discretion for any reason, including violation of these terms.
    </p>
  </div>

  <div class="max-w-2xl mx-auto mt-8 p-8 rounded shadow">
    <h2 class="text-2xl font-bold mb-6">Contact Us</h2>
    <p>
      <strong>Helios Energy</strong>
      <br />
       2226 6th St A, <br /> Santa Monica, CA 90405
      <br />
      <br />
      <strong>Email:</strong>
      <a
        title="Email us!"
        href="mailto:sales@heliosenergyglobal.com?subject = Legal Inquiry&body= Contacted from legal page"
        >sales@heliosenergyglobal.com</a
      >
      <br />
      <strong>Phone:</strong>
      <a href="tel:+13233304665">+1(323) 330 4665</a>
    </p>
  </div>
</Layout>
