---
type ImageType = {
  src: string;
  width: number;
  height: number;
  format: string;
};
const images: ImageType[] = await Astro.glob("/src/assets/brands/*").then(
  (files) => {
    return files.map((file) => file.default);
  }
);
const linkData:string[][] = [
  ["Mosaic", "https://joinmosiac.com/"],
  []

] 


---

<h2 class="text-4xl font-bold text-center mt-8 my-4">Our partners</h2>

<div class="h-100 w-50">
  <div
    class="grid grid-cols-3 mx-auto gap-8 justify-items-center w-[50%] items-center"
  >
    {
      images.map((image: ImageType, index: number) => (
        <img
          class="partner-image object-contain h-full rounded-lg mt-4 transition"
          src={image.src}
          loading="lazy"
          width={image.width}
          height={image.height}
          alt={`Partner ${index + 1}`}
        />
      ))
    }
  </div>
</div>

<script>
  const imgs = document.querySelectorAll(".partner-image");
  imgs.forEach((img) => {
    img.addEventListener("mouseover", () => {
      img.classList.add("scale-110");
    });
    img.addEventListener("mouseleave", () => {
      img.classList.remove("scale-110");
    });
  });
</script>
