---
interface Props {
  className?: string;
  id?: string;
}

const { className, id } :Props = Astro.props;
let cn = "debug working, props are not"
---
<div class={`max-w-screen-xl mx-auto container ${className || ""}`} id={id || ""}>
  <slot />
</div>
