---
import { Picture } from "astro:assets";
import HeroImage from "../assets/honestpower/solarhero.webp";
import Link from "../components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="relative z-[1] h-fit grid lg:grid-cols-2 place-items-center px-8 pt-16 pb-8 md:pt-12 md:pb-24 bg-cyan-500 text-white mb-8"
>
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={HeroImage}
      alt="solar panel with a ring"
      class="grayscale"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      formats={["webp", "jpg"]}
      fallbackFormat="webp"
    />
  </div>
  <div>
    <h2>Helios Energy Global</h2>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-white"
    >
      Your chariot around the sun.
    </h1>
    <p class="text-lg mt-4 text-white max-w-xl">
      The future is electric — there’s never been a better time to take back
      control of your energy.
      <!-- <wbr /> -->
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/contact"
        class="flex gap-1 items-center justify-center"
        rel="noopener"
      >
        Get a quote
      </Link>
      <a
        data-astro-prefetch="viewport"
        id="learn-more-link"
        href="/about"
        rel="noopener"
        class="flex gap-1 items-center justify-center text-xl ml-5"
      >
        Learn more <Icon
          id="learn-more-right-arrow"
          class="text-white w-5 h-5 relative"
          name="maki:arrow"
        />
      </a>
    </div>
  </div>
</main>

<script>
  const learnMoreLink = document.getElementById("learn-more-link");
  const learnMoreArrow = document.getElementById("learn-more-right-arrow");

  learnMoreLink?.addEventListener("mouseenter", () => {
    learnMoreArrow?.classList.add("move-right");
  });

  learnMoreLink?.addEventListener("mouseleave", () => {
    learnMoreArrow?.classList.remove("move-right");
  });
</script>
<style>
  .move-right {
    transform: translateX(10px);
  }
</style>
