---
import Layout from "./Layout.astro";
import Sectionhead from "src/components/sectionhead.astro";

// type AboutData = {
//   name: string;
//   selector: string;
//   format: string;
// };

type Props = {
  title: string;
};
const { title }: Props = Astro.props;
---

<Layout title={title}>
  <div class="align-left ml-8 mt-4">
    <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      <slot name="title">About Us</slot>
    </h1>
    <p class="text-lg mt-4 text-slate-600">
      <h2 class="">Helios, Greek God of the Sun</h2>
    </p>
  </div>
  <hr class="w-[25%] ml-8 bg-black border-none h-[1px]" />
  <div
    class="flex flex-inline w-fit gap-8 mt-0 justify-start
    max-w-screen-sm
    min-w-screen-sm
    xl:max-w-screen-md
    xl:min-w-screen-md"
  >
    <slot />
  </div>
</Layout>
<script></script>
