---
import { SEO } from "astro-seo";
import Footer from "../components/footer2.astro";
import Navbar from "../components/navbar/navbar2.astro";
import "@fontsource-variable/inter/index.css";
import { sharedValidateOptions } from "node_modules/@astrojs/vercel/dist/image/shared";
// import DarkModeToggle from "../components/react/converted/DarkModeToggle/DarkModeToggle.astro";
// import { ViewTransitions } from "astro:transitions";

import siteImage from "../../public/opengraph.png";
import { Icon } from "astro-icon";


export interface Props {
  title: string;
}

// const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
// console.log(canonicalURL);

// const resolvedImageWithDomain = new URL(
//   "/opengraph.jpg",
//   Astro.site
// ).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title
  : "Honest Power";
---

<!DOCTYPE html>
<html lang="en" class="light">

  <head>
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap.xml" />
    <meta name="generator" content={Astro.generator} />

    <!-- Google tag (gtag.js) -->
    <!-- <script type="text/partytown"  async src="https://www.googletagmanager.com/gtag/js?id=G-8LMHL40QTT"></script>  -->
    <!-- <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8LMHL40QTT');
    </script> -->
    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Change your home's life with Honest Solar."
      canonical={Astro.site + Astro.url.pathname}

      openGraph={{
        basic: {
          url: Astro.site + Astro.url.pathname,
          type: "website",
          title: `Honest Power- Power You Can Trust`,
          image: siteImage.src,
        },
        image: {
          alt: "Astroship Homepage Screenshot",
        },
      }}
    />

    <!-- Cookie compliance styles  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v3.0.0-rc.17/dist/cookieconsent.css"> 
  </head>
  <body>
    <Navbar/>
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>

    <script type="module" src="/cookieconsent-config.mjs"></script>

  </body>
</html>
