---
interface Props {
  title: string;
  solo?: boolean | false;
}
const { title, solo }: Props = Astro.props;
import Container from "@components/container.astro";
import Contactform from "@components/contactform.astro";
---

<Container class="py-16" id={`${title.toLowerCase()}-container`}>
  {
    title && solo ? (
      <h1 class="text-center mx-auto text-3xl font-bold">{title}</h1>
    ) : (
      <h2 class="text-center mx-auto text-3xl font-bold">{title}</h2>
    )
  }
  <slot />
  {solo && <Contactform />}
</Container>
